{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 

     content=" 

         height = device-height , 

         width = device-width  , 

         initial-scale = 1.0 , 

         minimum-scale = 0.5 , 

         maximum-scale = 2.0 , 

         user-scalable = yes , 

         target-densitydpi = medium-dpi 

     " 

 /> 

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-3.2.0/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/bootstrap-3.2.0/docs/examples/blog/blog.css" rel="stylesheet">
    <link href="/static/css/img.css" rel="stylesheet">
    <link href="/static/bootstrap-3.2.0/docs/examples/theme/theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

	<link href="/static/admin/css/base.css" rel="stylesheet">
	

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/bootstrap-3.2.0/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/bootstrap-3.2.0/assets/js/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>
   
    <div class="container">
        {% block content %}{% endblock %}
    </div>
     
  </body>
</html>

