SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = '0a8ce34b2c0e06384a44cb79e73e3386'
API_SECRET = '5dje-kptMdKA7Y9KWYgo_AY9UrhNtNae'
